<div class="modal fade" id="casinoModal" tabindex="-1" role="dialog" aria-labelledby="casinoModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="modal-content">
            <div class="modal-body">
                <h2>Réglez votre enchère</h2>
                <h3>En <img src="{{assetCdn}}/assets/img/modal/paiement/casino/3x.png" alt="3 fois" width="27" /> ou <img src="{{assetCdn}}/assets/img/modal/paiement/casino/4x.png" alt="4 fois" width="27" /> par carte bancaire</h3>
                <div class="row step">
                    <div class="media col-xs-12 col-md-4">
                        <div class="media-left col-md-12">
                            <img class="media-object" src="{{assetCdn}}/assets/img/modal/paiement/casino/icon-valide.png" alt="#">
                        </div>
                        <div class="media-body col-md-12">
                            <p><b>1. Validez votre commande et choisissez le paiement en 3x ou 4x</b> par CB, Visa ou Mastercard</p>
                            <img src="{{assetCdn}}/assets/img/logo-cb-color.png" alt="CB" />
                            <img src="{{assetCdn}}/assets/img/logo-visa-color.png" alt="Visa" />
                            <img src="{{assetCdn}}/assets/img/logo-mastercard-color.png" alt="MasterCard" />
                        </div>
                    </div>
                    <div class="media col-xs-12 col-md-4">
                        <div class="media-left col-md-12">
                            <img class="media-object" src="{{assetCdn}}/assets/img/modal/paiement/casino/icon-formulaire.png" alt="#">
                        </div>
                        <div class="media-body col-md-12">
                            <p><b>2. Complétez le formulaire et</b> passez à l'étape suivante (aucun document nécessaire)</p>
                        </div>
                    </div>
                    <div class="media col-xs-12 col-md-4">
                        <div class="media-left col-md-12">
                            <img class="media-object" src="{{assetCdn}}/assets/img/modal/paiement/casino/icon-reponse.png" alt="#">
                        </div>
                        <div class="media-body col-md-12">
                            <p><b>3. Recevez la réponse immédiatement !</b></p>
                        </div>
                    </div>
                </div>
                <div class="media">
                    <div class="media-body">
                        <p><i class="icon-payment-security"></i> <small>Paiement 100% sécurisé<br />Offre de financement sous réserve d'éligibilité de Banque Casino, pour un paiement entre 50€ et 3000€, avec une carte Visa ou Mastercard.</small></p>
                    </div>
                    <div class="media-right media-middle">
                        <img class="media-object" src="{{assetCdn}}/assets/gfx/logopayment/cb4x.png" alt="BC4X" height="16" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>