<div class="module push-auction auction" v-bind:data-productname="auction.product_name | escapeCote" v-bind:class="classcss"
     v-bind:data-pid="auction.product_id" v-bind:data-auction-uuid="'auction_'+auction.uuid" v-bind:data-time-start="auction.datatimestart"
     v-bind:data-time-end="auction.datatimeend" v-bind:data-position="index">
    <div class="enchere">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <i class="icon-favorite not-favorite" data-toggle="tooltip" data-placement="right" title="Ajouter aux favoris" v-once></i>
        {% endif %}
        <a v-bind:href="auction.product_id | link" class="no-opacity">
            <picture v-bind:title="auction.auction_name" v-if="auction.images.length > 0">
                <source media="(min-width: 768px)" v-bind:srcset="auction.images | imgForList | noprotocol | transf('c_fit,w_470')">
                <source media="(max-width: 767px)" v-bind:srcset="auction.images | imgForList | noprotocol | transf('c_fit,w_735')">{# Full image for small screens that have one auction per row #}
                <img v-bind:alt="auction.auction_name" v-bind:src="auction.images | imgForList | noprotocol | transf('c_fit,w_735')" class="img-responsive">
            </picture>
            <img src="{{ "https://img.loisirsencheres.fr/loisirs/image/upload/v1517479904/ressource/thumbnail-default.png"|noprotocol|transf('c_fit,w_735') }}" v-bind:alt="auction.auction_name" v-bind:title="auction.auction_name" v-else />
            <div class="feedbackContainer" v-if="auction.feedback_nb || auction.hasNewTag == 1">
                <div v-if="auction.feedback_nb && auction.feedback_score && auction.feedback_score > 0 && auction.feedback_nb != 0">
                    <div v-for="i in 5">
                        <img v-if="Math.ceil10(auction.feedback_score,-2) >= (i - 1 + 0.76)" src="{{assetCdn}}/assets/gfx/stars_color_small_2.png" alt="#" />
                        <img v-else-if="Math.ceil10(auction.feedback_score,-2) >= (i - 1 + 0.25) && Math.ceil10(auction.feedback_score,-2) <= (i - 1 + 0.75)" src="{{assetCdn}}/assets/gfx/picto_half_star-white.png" alt="#" />
                        <img v-else src="{{assetCdn}}/assets/gfx/stars_white_small.png" alt="#" />
                    </div>
                    <span style="font-size: 13px;">{{ '{{Math.ceil10(auction.feedback_score,-2)}}' }}/5 ({{ '{{auction.feedback_nb}}' }} avis)</span>
                </div>
                <div class="nouveautePictoContainer" v-else-if="auction.hasNewTag == 1">
                    <img src="{{ assetCdn }}/assets/gfx/picto-nouveautes-orange.png" title="nouveauté" alt="nouveauté">
                </div>
            </div>
        </a>
        <div class="moduleTexte moduleTexteAuction">
            <a v-bind:href="auction.product_id | link">
                <div class="row row-no-margin">
                    <div class="texte">
                        <p class="auctionThumbInfo shortloc" v-if="auction.product_shortloc != null && auction.concatenate == '1'">{{ '{{auction.product_shortloc}}' }}</p>
                        <p class="auctionThumbTitle">
                            {{ '{{auction.auction_name}}' }}
                        </p>
                    </div>
                    <div class="prix price-row col-xs-12">
                        <div class="row">
                            <div class="time col-sm-6 col-xs-7 nopadding">
                                <div v-if="auction.timelefttext">
                                    {{ '{{ auction.timelefttext }}' }}
                                </div>
                                <div v-else>
                                    <span class="time-placeholder hide">{{ '{{auction.auction_end}}' }}</span>
                                    <span class="time-countdown">
                                        <span class="hours">{{ '{{auction.hours}}' }}</span>:<span class="minutes">{{ '{{auction.minutes}}' }}</span>:<span class="seconds">{{ '{{auction.seconds}}' }}</span>
                                    </span>
                                </div>
                            </div>
                            <div class="price col-xs-5 col-sm-6 nopadding">
                                <span>
                                    <span class="bid-amount">
                                        {{ '{{auction.bid_amount | amount}}' }}
                                    </span> &euro;
                                </span>
                            </div>
                            <div class='col-xs-12 nopadding' v-if="auction.product_shortprice != null && auction.concatenate">
                                <span class='shortprice text-right'>{{ '{{auction.product_shortprice}}' }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% if withStatus is defined %}
        <template v-if="auction.endAuction.endAuction">
            <div v-if="auction.endAuction.paymentLink !== '' && auction.endAuction.user.userHash == currentUser.userHash">
                <p class="text-success text-center">Félicitations vous avez gagné !</p>
                <a v-bind:href="auction.endAuction.paymentLink | link" class="btn btn-warning btn-block text-uppercase">Régler mon enchère !</a>
            </div>
            <div v-else>
                <p class="text-danger text-center">Vous n'avez pas remporté l'enchère</p>
                <a v-bind:href="auction.product_id | link" class="btn btn-warning btn-block text-uppercase">Prochaine enchère</a>
            </div>
        </template>
        <template v-else>
            <div v-if="auction.lead">
                <p class="text-success text-center">Vous êtes en tête !</p>
                <a v-bind:href="auction.product_id | link" class="btn btn-default btn-block text-uppercase">Je suis mon enchère</a>
            </div>
            <div v-else>
                <p class="text-danger text-center">Vous n'êtes plus en tête !</p>
                <a v-bind:href="auction.product_id | link" class="btn btn-warning btn-block text-uppercase">Je surenchéris !</a>
            </div>
        </template>
        {% endif %}
    </div>
</div>
