{% if field.properties.mandatory is defined and field.properties.mandatory == true %}
    {% set required = 'required=required' %}
{% else %}
    {% set required = '' %}
{% endif %}

{% if field.properties.unique is defined and field.properties.unique is not empty %}
    {% set indication = 'Ce numéro ne doit pas être utilisé ailleurs dans la réservation.' %}
{% else %}
    {% set indication = '' %}
{% endif %}

{% if field.properties.information is defined and field.properties.information is not empty %}
    {% set information = field.properties.information %}
{% else %}
    {% set information = '' %}
{% endif %}

<label>{{ field.label }} {% if required is not empty %}*{% endif %}</label> <em>{{ information }}</em><br>

<em>{{ indication }}</em>
<div class="row">
    <div class="form-group col-lg-6 col-sm-6 {% if error != false and error.customField[field.id] is defined %}has-error{% endif %}">
        <input autocomplete="off" class="form-control input-tel"  id="cf{{ field.id }}" type="tel" name="customFieldTel[{{ field.id }}]" {{ required }}  placeholder="{{ field.properties.placeholder|default('') }}" value="{{ value }}">
            {% if error != false and error.customField[field.id] is defined %}
                <span class="help-block">{{ error.customField[field.id] }}</span>
        {% endif %}
    </div>
</div>