<div class="col-xs-12">
    <div class="row item">
    {% for product in products %}
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 nopadding-only-sm nopadding-only-md nopadding-only-lg background-blanc">
            <p class="hidden-xs">{{ product.name }}</p>
            <div class="content">
                <div class="row">
                    <div class="col-xs-5">
                        <img src="{{ product.product_image }}" alt="{{ product.name }}" class="img-responsive">
                    </div>
                    <div class="col-xs-7 nopadding-left">
                        <p class="visible-xs">{{ product.name }}</p>
                        <div class="hidden-xs"><b>Contenu :</b>
                            <div class="descripion more-hide">
                                <p>{{ product.description }}</p>
                            </div>
                            <p class="text-info"><a href="{{ path('auction.detail', {id: product.auctionId}) }}" target="_blank">Voir l'offre</a></p>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-7 nopadding-right-only">
                                <p class="nomargin-bottom"><span class="hidden-xs date"><small><em class="text-muted">Remporté le </em></small></span><br />
                                    <span class="price">{{ product.amount/100 }}€</span><small><em class="text-muted"> au lieu de {{ product.shortPrice/100 }}€</em></small>
                                </p>
                            </div>
                            <div class="hidden-xs col-sm-5">
                                <a class="btn btn-block btn-warning text-uppercase" href="{{ path('paiement.gateway', {'id': product.id, 'productType': 'auction' }) }}">Régler</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 visible-xs">
                        <a class="btn btn-block btn-warning text-uppercase" href="{{ path('paiement.gateway', {'id': product.id, 'productType': 'auction' }) }}">Régler</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>