{% extends 'layout/html-user.twig' %}
{% block title %}Mon mot de passe{% endblock %}

{% block main_content %}
    <div class="row">
        {% if not isApp(app.request) %}
            <div class="col-lg-3 hidden-xs col-sm-12 col-md-4"><user-nav current-route="{{ app.request.get('_route') }}"></user-nav></div>
        {% endif %}
        <div class="col-lg-9 col-xs-10 col-xs-offset-1 col-lg-offset-0 col-sm-12 col-sm-offset-0 col-md-8{% if app.request.get('onlycontent') is not null %} paddingtop1{% endif %}" id="userProfile">
            {% if app.request.get('onlycontent') is null %}
                {% include 'user/template/mobileMenu.twig' %}
                <h1>Mon mot de passe</h1>
            {% endif %}
            {{ form_start(passwordForm, {'attr':{'class':'form-horizontal'}}) }}
            <div class="form-group">
                {{ form_label(passwordForm.oldPassword,'', {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                <div class="field-errors">{{ form_errors(passwordForm.oldPassword) }}</div>
                <div class="col-sm-9">
                    {{ form_widget(passwordForm.oldPassword) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(passwordForm.password,'', {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                <div class="field-errors">{{ form_errors(passwordForm.password) }}</div>
                <div class="col-sm-9">
                    {{ form_widget(passwordForm.password) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(passwordForm.checkPassword,'', {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                <div class="field-errors">{{ form_errors(passwordForm.checkPassword) }}</div>
                <div class="col-sm-9">
                    {{ form_widget(passwordForm.checkPassword) }}
                </div>
            </div>
            <div class="text-center">
                {{ form_widget(passwordForm.save, {'attr': {'class': 'btn btn-primary'}}) }}
            </div>
            {{ form_rest(passwordForm) }}
            {{ form_end(passwordForm) }}
        </div>
    </div>
{% endblock %}
{% block modal %}
    {{ parent() }}
    {% if isApp(app.request) %}
    {% include 'user/modules/menu_app.twig' %}
    {% endif %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
      $(document).ready(function(){
        if(document.body.clientWidth >= 768 && document.body.clientWidth <= 991){
          hauteurs_deux_colonnes($('#usernav').find('li'));
        }
      });
      window.onresize = function(){
        if(document.body.clientWidth >= 768 && document.body.clientWidth <= 991){
          hauteurs_deux_colonnes($('#usernav').find('li'));
        }
        else {
          $('#usernav').find('li').css('height','auto');
        }
      };
    </script>
{% endblock %}
