{% extends 'layout/html.twig' %}

{% block title %}Enchère privée - Confirmation{% endblock %}
{% block main_content %}
        {{ form_start(form) }}
        <h3>Rentrez votre code afin de pouvoir enchérir</h3>
        {% if error is defined and error is not null %}
            <div class="alert alert-danger" role="alert">{{ error }}</div>
        {% endif %}
        <div class="row">
            <div class="col-sm-6 ">
                {{ form_widget(form.code, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-sm-3">
                {{ form_widget(form.save) }}
            </div>
        </div>
        {{ form_rest(form) }}
        {{ form_end(form) }}
{% endblock %}