<article id="ccm">
    <section class="container">
        <div class="row">
            <div class="media etape col-sm-4 col-xs-12">
                <div class="media-left media-middle">
                    <!--[if gte IE 9]><!-->
                    <img src="{{assetCdn}}/assets/img/ccm/inscription-gratuite.svg" alt="Étape 1, je m'inscris gratuitement" title="Je m'inscris gratuitement" class="media-object" />
                    <!--<![endif]-->
                    <!--[if lte IE 8]>
                    <img src="{{assetCdn}}/assets/img/ccm/inscription-gratuite.png" alt="Étape 1, je m'inscris gratuitement" title="Je m'inscris gratuitement" class="media-object" />
                    <![endif]-->
                </div>
                <div class="media-body">
                    Je m'inscris <br />gratuitement
                </div>
            </div>
            <div class="media etape col-sm-4 col-xs-12">
                <div class="media-left media-middle">
                    <!--[if gte IE 9]><!-->
                    <img src="{{assetCdn}}/assets/img/ccm/encherir-gagner.svg" alt="Étape 2, j’enchéris et je gagne" title="J’enchéris et je gagne" class="media-object" />
                    <!--<![endif]-->
                    <!--[if lte IE 8]>
                    <img src="{{assetCdn}}/assets/img/ccm/encherir-gagner.png" alt="Étape 2, j’enchéris et je gagne" title="J’enchéris et je gagne" class="media-object" />
                    <![endif]-->
                </div>
                <div class="media-body">
                    J’enchéris et <br />je gagne
                </div>
            </div>
            <div class="media etape col-sm-4 col-xs-12">
                <div class="media-left media-middle">
                    <!--[if gte IE 9]><!-->
                    <img src="{{assetCdn}}/assets/img/ccm/regler-profiter-2.svg" alt="Étape 3, je règle et je profite" title="Je règle et je profite" class="media-object" />
                    <!--<![endif]-->
                    <!--[if lte IE 8]>
                    <img src="{{assetCdn}}/assets/img/ccm/regler-profiter-2.png" alt="Étape 3, je règle et je profite" title="Je règle et je profite" class="media-object" />
                    <![endif]-->
                </div>
                <div class="media-body">
                    Je règle et <br />je profite
                </div>
            </div>
        </div>
    </section>
    <section class="container">
      <div class="row">
        <div class="col-xs-12">
            <div class="text-center">
                <modal-trigger
                    modal-target="ccm-video"
                    modal-id="ccmvideo"
                    class="btn-link ccm-video"
                    title="Comment ça marche, vidéo Youtube (ouvre une fenêtre de dialogue)"
                >Et si vous préférez les vidéos, cliquez ici.</modal-trigger>
            </div>
        </div>
      </div>
    </section>
</article>
