<div class="col-xs-12 col-sm-12 col-md-12 col-extra-padding">
    {% if feedbacks is not empty %}
        {% if feedbackInfo.avg >= 1 %}
            <div class="row">
                <div class="col-sm-7 hidden-xs"><h2>{{ feedbacks|length }} avis de la communauté</h2>
                   Seuls les clients qui ont gagné cette enchère peuvent donner leur avis et seuls ceux qui l'ont testée seront publiés.</div>
                <div class="col-sm-5 text-center" style="margin-top:20px;">Moyenne générale obtenue :<div class="freeback-note">{{ feedbackInfo.avg }}/5</div></div>
            </div>
            <hr class="bleu">
        {% endif %}
        {% if product.blogLink is not null %}
            <div class="row">
                <div class="col-xs-12 col-md-8">
                    <a target="_blank" href="{{ product.blogLink }}" title="Je découvre son article">
                        <img alt="Approuvé par notre testeur Tristan"  src="//img.loisirsencheres.fr/loisirs/image/upload/v1501597663/ressource/vignette-tristan.png" class="img-responsive"/>
                    </a>
                </div>
            </div>
        {% endif %}
        {% for feedback in feedbacks %}
            <div itemprop="review" itemscope itemtype="http://schema.org/Review">
                <div class="row">
                    <div class="col-xs-12 col-s-7 col-sm-4">
                        <div itemprop="author" itemscope itemtype="http://schema.org/Person">
                            <span itemprop="givenName">{{feedback['firstName']|capitalize }}</span>
                            <span itemprop="familyName">{{ feedback['lastName']|first|upper }}</span>
                            {% if feedback['nbAuctionPaid'] > 0 and feedback['nbAuctionPaid'] < 5%}
                                <span class='popup-info-bidder-status' data-value='<b>Enchérisseur novice</b> : ils débutent mais ne vous fiez pas aux apparences'><a href='{{ path('content.page', {'page': 'programme-fidelite'}) }}'> <img src='{{assetCdn}}/assets/gfx/rank1.png' alt="rank1" /></a></span>
                            {% elseif feedback['nbAuctionPaid'] >= 5 and feedback['nbAuctionPaid'] < 10 %}
                                <span class='popup-info-bidder-status' data-value='<b>Enchérisseur confirmé</b> : ils ont plus d’une enchère dans leur sac'><a href='{{ path('content.page', {'page': 'programme-fidelite'}) }}'><img src='{{assetCdn}}/assets/gfx/rank2.png' alt="rank1" /></a></span>
                            {% elseif feedback['nbAuctionPaid'] >= 10 and feedback['nbAuctionPaid'] < 20 %}
                                <span class='popup-info-bidder-status' data-value='<b>Enchérisseur aguerri</b> : enchérir est devenu pour eux une seconde nature'><a href='{{ path('content.page', {'page': 'programme-fidelite'}) }}'><img src='{{assetCdn}}/assets/gfx/rank3.png' alt="rank1" /></a></span>
                            {% elseif feedback['nbAuctionPaid'] >= 20 and feedback['nbAuctionPaid'] < 50 %}
                                <span class='popup-info-bidder-status' data-value='<b>Enchérisseur expert</b> : ils enchérissent plus vite que leur ombre'><a href='{{ path('content.page', {'page': 'programme-fidelite'}) }}'><img src='{{assetCdn}}/assets/gfx/rank4.png' alt="rank1" /></a></span>
                            {% elseif feedback['nbAuctionPaid'] >= 50 %}
                                <span class='popup-info-bidder-status' data-value='<b>Maître Enchérisseur</b> : aucune enchère ne leur résiste'><a href='{{ path('content.page', {'page': 'programme-fidelite'}) }}'><img src='{{assetCdn}}/assets/gfx/rank5.png' alt="rank1" /></a></span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-xs-12 col-s-5 col-sm-4 starsFeedback" itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
                        <meta itemprop="worstRating" content="0">
                        <meta itemprop="ratingValue" content="{{ feedback['score'] }}">
                        <meta itemprop="bestRating" content="5">
                    {% for i in 1..5 %}
                        {% if i <= feedback['score'] %}
                            <img src="{{assetCdn}}/assets/gfx/stars_color_small_2.png" alt="#">
                        {% else %}
                            <img src="{{assetCdn}}/assets/gfx/stars_white_small.png" alt="#">
                        {% endif %}
                    {% endfor %}
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <span class="pull-right" itemprop="dateCreated">{{ feedback['created']|date('d-m-Y') }}</span>
                    </div>
                </div>
                <div itemprop="comment" itemscope itemtype="http://schema.org/Comment">
                    <div itemprop="text">{{feedback['comment']|nl2br }}</div>
                    {% if feedback['salesResponse'] is not null and feedback['salesResponse'] is not empty %}
                        <div class="alinea">
                            <div>
                                <em>La réponse de Loisirs Enchères : </em>
                                <div class="indent-block" itemprop="comment" itemscope itemtype="http://schema.org/Comment">
                                    <div itemprop="text">{{ feedback['salesResponse']|raw }}</div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            <hr class="bleu">
        {% endfor %}
    {% else %}
        <div>
        {% if product.blogLink is not null %}
            <div class="row">
                <div class="col-xs-12 col-md-8">
                    <a target="_blank" href="{{ product.blogLink }}" title="Je découvre son article">
                        <img alt="Approuvé par notre testeur Tristan"  src="//img.loisirsencheres.fr/loisirs/image/upload/v1501597663/ressource/vignette-tristan.png" class="img-responsive"/>
                    </a>
                </div>
            </div>
        {% endif %}
            <br />
            <div class="text-center">
                <strong>Il n'y a pas encore de commentaire sur cette offre. Soyez le premier à partager votre expérience !</strong>
            </div>
        </div>
        <br /><hr class="bleu"><br />
    {% endif %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') and not onlytabs and not onlyview %}
        <div id="commentSection">
            {% if feedbackStatus.allowed %}
                <div class="canComment">
                    LAISSER VOTRE AVIS <br />
                    <div class="row">
                        <div class="col-xs-12 col-md-5 col-lg-5">
                        Cette enchère vous a-t-elle satisfait ?
                        </div>
                        <div class="col-xs-12 col-md-7 col-lg-offset-1 col-lg-6 starsFeedback">
                        {% for i in 1..5 %}
                            <img src='{{assetCdn}}/assets/gfx/stars_nocolor.png' class="starsComment" data-index="{{i}}" alt="#" />
                        {% endfor %}
                        </div>
                    </div>
                    <form class="comment-form">
                      <div class="form-group">
                        <label for="comment">Ecrivez nous votre avis :</label>
                        <span class="counter form-control-feedback"><span>1000</span> caractères restants.</span>
                        <div class="alert alert-info hide" role="alert">Votre avis dépasse les 1000 caractères. Pour un retour personnalisé qui puisse répondre à vos demandes, nous vous proposons de <a href="{{path('content.page', {'page': 'contact'}) }}" rel="nofollow">contacter le service client</a>.</div>
                        <textarea class="form-control" rows="5" id="comment"></textarea>
                      </div>
                      <button type="submit" class="btn btn-primary center-block" title="valider votre avis" id="commentSubmit">Soumettre</button>
                    </form>
                </div>
            {% else %}
                <div class="notAuthorizeToComment">
                    <div class="text-center">
                        {{ feedbackStatus.reason }}
                    </div>
                    <div class="alinea text-center">
                        <small class="alinea"> Si vous souhaitez retirer votre commentaire ou le modifier, merci de nous <a href="{{path('content.page', {'page': 'contact'}) }}" rel="nofollow">contacter. </a></small>
                    </div>
                </div>
            {% endif %}
        </div>
        {% if userVouchers %}
            <div>
                Vous avez remporté cette offre<ul>
                    {% for userVoucher in userVouchers %}
                        <li>le {{userVoucher['created']|date('d/m à H:i')}}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <hr class="bleu">
        <div class="text-center">
            <strong><a href="{{ path('feedback.home') }}" rel="nofollow">Voir les avis de la communauté sur toutes les enchères</a></strong>
        </div>
    {% endif %}
</div>
