<div class="col-xs-12 slids{% if images|length < 2 %} nolist{% endif %}" data-pid="{{ product['id'] }}">
    {% if is_granted('IS_AUTHENTICATED_FULLY') and not isApp(app.request) %}<i class="icon-favorite not-favorite" data-toggle="tooltip" data-placement="right" title="Ajouter aux favoris"></i>{% endif %}
    {% if for == 'normal' %}
    <div class="placeholder-block">
        <div class="placeholder-container">&nbsp;</div>
    </div>
    {% endif %}
    <ul class="pgwSlideshow">
        {% for image in images %}
        <li class="{{ image['type'] }}" data-url="{{ image['url'] }}">
            {% if image['type'] == 'video' %}
                {% set src, srclarge = '//img.youtube.com/vi/'~image['url']|youtubeParser~'/1.jpg', '//img.youtube.com/vi/'~image['url']|youtubeParser~'/maxresdefault.jpg' %}
            {% else %}
                {% set src = image['url']|cdnUrl|noprotocol|transf('c_scale,h_80/c_crop,h_80,w_80') %}
                {% set srclarge = image['url']|cdnUrl|noprotocol %}
            {% endif %}
            <img{% if loop.index0 == 0 and schema.product %} itemprop="image"{% endif %} src="{{ src }}" title="{{ auction['name'] }}" data-large-src="{{ srclarge }}" title="{{ auction['name'] }}" alt="{{ auction['name'] }}" />
        </li>
        {% endfor %}
    </ul>
    {% if feedbackInfo.nb != '0' %}
    <div class="feedback row">
        <div class="col-xs-12">
            <div class="feedbackContainer shadow">
            {% for i in 1..5 %}
                {% if feedbackInfo.avg >= (i - 1 + 0.8) %}
                    <img src="{{assetCdn}}/assets/gfx/stars_color_small_2.png" alt="#">
                {% elseif feedbackInfo.avg >= (i - 1 + 0.2) and feedbackInfo.avg <= (i - 1 + 0.8) %}
                    <img src="{{assetCdn}}/assets/gfx/picto_half_star-white.png" alt="#">
                {% else %}
                    <img src="{{assetCdn}}/assets/gfx/stars_white_small.png" alt="#">
                {% endif %}
            {% endfor %}
                <span itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating" class="scorenb"><span itemprop="ratingValue">{{ feedbackInfo.avg }}</span>/<span itemprop="reviewCount">5</span> (<span itemprop="reviewCount">{{ feedbackInfo.nb }}</span> avis)</span>
            </div>
        </div>
    </div>
    {% endif %}
</div>
