<div class="modal fade" id="modalAssuranceMultirisque" tabindex="-1" role="dialog" aria-labelledby="modalAssuranceMultirisque">
    <div class="modal-dialog modal-lg" role="document">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title">Assurance multirisque</p>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <img src="{{assetCdn}}/assets/img/insurance/multirisque/AXA 2016010 Multirisques v2_Page_01.jpg?v=20170801" alt="Page 1" />
                    <img src="{{assetCdn}}/assets/img/insurance/multirisque/AXA 2016010 Multirisques v2_Page_02.jpg?v=20170801" alt="Page 2" />
                    <img src="{{assetCdn}}/assets/img/insurance/multirisque/AXA 2016010 Multirisques v2_Page_03.jpg?v=20170801" alt="Page 3" />
                    <img src="{{assetCdn}}/assets/img/insurance/multirisque/AXA 2016010 Multirisques v2_Page_04.jpg?v=20170801" alt="Page 4" />
                    <img src="{{assetCdn}}/assets/img/insurance/multirisque/AXA 2016010 Multirisques v2_Page_05.jpg?v=20170801" alt="Page 5" />
                    <img src="{{assetCdn}}/assets/img/insurance/multirisque/AXA 2016010 Multirisques v2_Page_06.jpg?v=20170801" alt="Page 6" />
                    <img src="{{assetCdn}}/assets/img/insurance/multirisque/AXA 2016010 Multirisques v2_Page_07.jpg?v=20170801" alt="Page 7" />
                    <img src="{{assetCdn}}/assets/img/insurance/multirisque/AXA 2016010 Multirisques v2_Page_08.jpg?v=20170801" alt="Page 8" />
                    <img src="{{assetCdn}}/assets/img/insurance/multirisque/AXA 2016010 Multirisques v2_Page_09.jpg?v=20170801" alt="Page 9" />
                    <img src="{{assetCdn}}/assets/img/insurance/multirisque/AXA 2016010 Multirisques v2_Page_10.jpg?v=20170801" alt="Page 10" />
                    <img src="{{assetCdn}}/assets/img/insurance/multirisque/AXA 2016010 Multirisques v2_Page_11.jpg?v=20170801" alt="Page 11" />
                    <img src="{{assetCdn}}/assets/img/insurance/multirisque/AXA 2016010 Multirisques v2_Page_12.jpg?v=20170801" alt="Page 12" />
                    <img src="{{assetCdn}}/assets/img/insurance/multirisque/AXA 2016010 Multirisques v2_Page_13.jpg?v=20170801" alt="Page 13" />
                    <img src="{{assetCdn}}/assets/img/insurance/multirisque/AXA 2016010 Multirisques v2_Page_14.jpg?v=20170801" alt="Page 14" />
                    <img src="{{assetCdn}}/assets/img/insurance/multirisque/AXA 2016010 Multirisques v2_Page_15.jpg?v=20170801" alt="Page 15" />
                    <img src="{{assetCdn}}/assets/img/insurance/multirisque/AXA 2016010 Multirisques v2_Page_16.jpg?v=20170801" alt="Page 16" />
                    <img src="{{assetCdn}}/assets/img/insurance/multirisque/AXA 2016010 Multirisques v2_Page_17.jpg?v=20170801" alt="Page 17" />
                    <img src="{{assetCdn}}/assets/img/insurance/multirisque/AXA 2016010 Multirisques v2_Page_18.jpg?v=20170801" alt="Page 18" />
                    <img src="{{assetCdn}}/assets/img/insurance/multirisque/AXA 2016010 Multirisques v2_Page_19.jpg?v=20170801" alt="Page 19" />
                    <img src="{{assetCdn}}/assets/img/insurance/multirisque/AXA 2016010 Multirisques v2_Page_20.jpg?v=20170801" alt="Page 20" />
                    <img src="{{assetCdn}}/assets/img/insurance/multirisque/AXA 2016010 Multirisques v2_Page_21.jpg?v=20170801" alt="Page 21" />
                    <img src="{{assetCdn}}/assets/img/insurance/multirisque/AXA 2016010 Multirisques v2_Page_22.jpg?v=20170801" alt="Page 22" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>