<div class="modal fade" id="modalAssuranceMultirisquepremium" tabindex="-1" role="dialog" aria-labelledby="modalAssuranceMultirisquepremium">
    <div class="modal-dialog modal-lg" role="document">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title">Option premium sécurité</p>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <img src="{{assetCdn}}/assets/img/insurance/pack securite/PACK SECURITE AX2016016 V2_Page_1.jpg" alt="Page 1" />
                    <img src="{{assetCdn}}/assets/img/insurance/pack securite/PACK SECURITE AX2016016 V2_Page_2.jpg" alt="Page 2" />
                    <img src="{{assetCdn}}/assets/img/insurance/pack securite/PACK SECURITE AX2016016 V2_Page_3.jpg" alt="Page 3" />
                    <img src="{{assetCdn}}/assets/img/insurance/pack securite/PACK SECURITE AX2016016 V2_Page_3.jpg" alt="Page 4" />
                    <img src="{{assetCdn}}/assets/img/insurance/pack securite/PACK SECURITE AX2016016 V2_Page_5.jpg" alt="Page 5" />
                    <img src="{{assetCdn}}/assets/img/insurance/pack securite/PACK SECURITE AX2016016 V2_Page_6.jpg" alt="Page 6" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>