{% extends 'layout/html.twig' %}

{% block title %}Notre application pour vos expériences au meilleur prix.{% endblock %}

{% block container %}nope{% endblock %}
{% block containerId %}application{% endblock %}
{% block main_content %}
    <header>
        <div class="container">
            <h1 class="text-center center-block">Enchérissez où vous voulez, quand vous voulez !</h1>
            <p class="introduction hidden-xs hidden-s center-block">Téléchargez gratuitement l’application Loisirs enchères et découvrez chaque jour des centaines d’offres de séjours ou de sorties près de chez vous, dans toute la France et à l’étranger.</p>
            <div class="row">
                <div class="text-center app-notation hidden-xs hidden-s col-sm-5">
                    <img src="{{ assetCdn }}/assets/img/application/app-notation.png" alt="Loisirs Enchères" width="250">
                </div>
                <div class="col-xs-6 col-s-offset-1 col-s-5 col-sm-3 col-sm-offset-0 store text-center">
                    <a href="https://app.adjust.com/od6b1r?campaign=dedicated-page&redirect=https%3A%2F%2Fitunes.apple.com%2Fapp%2Fapple-store%2Fid987860898%3Fpt%3D110416813%26ct%3Dle-www-dedicated_page%26mt%3D8" target="_blank">
                        <img src="{{ assetCdn }}/assets/img/application/picto-ios.png" alt="App store" width="70">
                    </a>
                    <div class="caption">
                        <p><a href="https://app.adjust.com/od6b1r?campaign=dedicated-page&redirect=https%3A%2F%2Fitunes.apple.com%2Fapp%2Fapple-store%2Fid987860898%3Fpt%3D110416813%26ct%3Dle-www-dedicated_page%26mt%3D8" target="_blank">Télécharger dans l'app store</a></p>
                    </div>
                </div>
                <div class="col-xs-6 col-s-5 col-sm-3 store text-center">
                    <a href="https://play.google.com/store/apps/details?id=net.sharewire.loisirsencheres&referrer=utm_source%3Dle-www%26utm_campaign%3Ddedicated-page%26utm_medium%3Ddedicated-page-googleplay%26utm-medium%3Dlogo-playstore%26adjust_reftag%3DcobVqIqkiIWb2" target="_blank">
                        <img src="{{ assetCdn }}/assets/img/application/picto-android.png" alt="Google play" width="70">
                    </a>
                    <div class="caption">
                        <p><a href="https://play.google.com/store/apps/details?id=net.sharewire.loisirsencheres&referrer=utm_source%3Dle-www%26utm_campaign%3Ddedicated-page%26utm_medium%3Ddedicated-page-googleplay%26utm-medium%3Dlogo-playstore%26adjust_reftag%3DcobVqIqkiIWb2" target="_blank">Télécharger dans google play</a></p>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <article>
        <div class="container">
            <p class="introduction visible-xs visible-s">Téléchargez gratuitement l’application Loisirs enchères et découvrez chaque jour des centaines d’offres de séjours ou de sorties près de chez vous, dans toute la France et à l’étranger.</p>
            <div class="text-center app-notation visible-xs visible-s">
                <img src="{{ assetCdn }}/assets/img/application/app-notation.png" alt="Loisirs Enchères" width="208">
            </div>
            <div class="row">
                <div class="media col-xs-12 col-sm-6">
                    <div class="media-left media-middle">
                        <img class="media-object" src="{{ assetCdn }}/assets/img/application/step-1.png" alt="étape 1">
                    </div>
                    <div class="media-body">
                        Trouvez facilement toutes nos offres près de chez vous grâce à la carte
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <img src="{{ assetCdn }}/assets/img/application/slide-1.gif" alt="#" width="320" class="img-responsive center-block">
                </div>
            </div>
            <div class="row">
                <div class="media col-xs-12 col-sm-6 col-sm-6 col-sm-push-6">
                    <div class="media-left media-middle">
                        <img class="media-object" src="{{ assetCdn }}/assets/img/application/step-2.png" alt="étape 2">
                    </div>
                    <div class="media-body">
                        Prolongez votre expérience du site où que vous soyez et multipliez vos chances de remporter l'enchère tant convoitée
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-sm-pull-6">
                    <img src="{{ assetCdn }}/assets/img/application/slide-2.gif" alt="#" width="320" class="img-responsive center-block">
                </div>
            </div>
            <div class="row">
                <div class="media col-xs-12 col-sm-6">
                    <div class="media-left media-middle">
                        <img class="media-object" src="{{ assetCdn }}/assets/img/application/step-3.png" alt="étape 3">
                    </div>
                    <div class="media-body">
                        Recevez une notification si quelqu'un surenchérit et 2 min avant la fin de l'enchère
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <img src="{{ assetCdn }}/assets/img/application/slide-3.gif" alt="#" width="320" class="img-responsive center-block">
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <h2>Un concept unique en France</h2>
                    <p>Fatigués des prix barrés et des fausses promotions ? Loisirs Enchères est une application mobile et un site internet qui vous laisse le choix de fixer le prix de tous vos loisirs. Oubliez les montants gonflés des autres enseignes et les soldes fictives : avec le système des enchères, le seul prix qui compte est celui de la plus haute mise à la fin du compte à rebours. Et vous bénéficiez de la même qualité de prestation quelque que soit le prix que vous avez payé ! Inutile de vous dire que s'inscrire et enchérir est gratuit, seul le gagnant final s'engage à régler l'enchère. Essayez, c'est nous adopter !</p>
                </div>
                <div class="col-xs-12 col-md-6">
                    <h2>Le plein de voyages</h2>
                    <p>Envie d'un week-end de charme dans un coin de campagne en France ? D'un séjour plus long dans une grande ville d'Europe ? Ou de vraies vacances de rêve au soleil à l'autre bout du Monde ? Les plus beaux voyages sont sur Loisirs Enchères ! Entre gîte intimiste et château luxueux, visite d'une grande ville ou farniente dans un magnifique resort avec plage de sable fin, vous n'avez que l'embarras du choix. Que vous partiez à deux ou plus, vous trouverez forcément une destination à votre mesure et dans votre budget. Rejoignez vite nos nombreux membres qui ont déjà craqué pour Rome, Venise, Porto, Marrakech ou même... New York et Bali !</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <h2>Des loisirs pour tous les goûts</h2>
                    <p>Bien-être, gastronomie, hôtels, séances de sport, ou sorties culturelles, toutes les activités sont sur Loisirs Enchères ! Que vous cherchiez un massage près de chez vous, une bonne table à base de produits du terroir, ou un endroit insolite où passer vos vacances, nos dénicheurs travaillent sans cesse pour vous trouver des offres hors du commun.</p>
                </div>
                <div class="col-xs-12 col-md-6">
                    <h2>Une équipe à votre écoute</h2>
                    <p>Chercher systématiquement les meilleures activités et balades en France et à l'étranger nous tient évidemment à cœur, mais notre principale priorité, c'est vous ! Vous avez flashé sur votre dernier restau au coin de la rue ou vous revenez d'une escapade inoubliable pour vos vacances ? Ne manquez pas de nous suggérer vos idées et vos plus belles expériences par mail, nous ferons tout notre possible pour en faire profiter tous nos membres !</p>
                </div>
            </div>
        </div>
    </article>
{% endblock %}
