{% extends 'layout/html.twig' %}

{% block title %}Parutions presse, TV et récompenses{% endblock %}

{% block main_content %}
    <div class="main light-bg">
        <div itemscope itemtype="http://schema.org/LocalBusiness">
            <p><strong><span itemprop="name">Contact Presse : Nicolas LAURET</span> - <a href="tel:0535549498" target="_blank"><span itemprop="telephone">05 35 54 94 98</span></a></strong></p>
        </div>

        <h1 class="page-title-h1">Dans la presse</h1>

        <div class="content page item-presse" id="fr2-bon-plan-ete">
            <h2 class="title-h2-page-quality">France 2 : Job d'été : testeur de vacances - Juillet 2017</h2>
            <div class="row">
                <div class="col-sm-5 col-xs-10">
                    <p>Il a été choisi parmi plus de 800 candidatures venues de la France entière. Depuis le début de l'été, Tristan Glasel est le nouvel ambassadeur de Loisirs Enchères. Etudiant en biologie, le jeune homme de 21 ans a décroché le "meilleur job d'été de France". Un boulot estival qui le mène sur les routes de France et d'Europe. Sa mission : voyager, tester les activités et poster son "rapport" sur le blog et les réseaux sociaux. Découvrez Tristan en plein effort durant un reportage diffusé dans le journal télévisé de France 2 !</p>
                </div>
                <div class="col-sm-2 col-xs-2 text-center">
                    <div class="text-center">
                        <img src="{{assetCdn}}/assets/img-presse/Logo_France_2.png" alt="France 2" />
                    </div>
                </div>
                <div class="col-sm-5 col-xs-12">
                    <div>
                        <iframe width="100%" height="260" src="//embedftv-a.akamaihd.net/a7ba56b08dfed7185fb3601a030b00ac" frameborder="0" scrolling="no" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="content page item-presse" id="m6-capital">
            <h2 class="title-h2-page-quality">Capital sur M6 : Économies, bons plans, remboursements : et si vos vacances vous rapportaient de l'argent ?</h2>
            <div class="row">
                <div class="col-sm-5 col-xs-10"><p>Vous les avez attendues toute l'année, elles sont enfin là ! Mais avec les vacances, le budget est souvent mis à rude épreuve... Et si, cette année vous faisiez de très bonnes affaires en fixant vous-même le prix de votre voyage ou de vos loisirs ? C'est ce que nous proposons chez Loisirs Enchères ! Les équipes du célèbre magazine Capital de M6 ont mené l'enquête dans nos locaux et chez nos partenaires pour découvrir les coulisses de notre site. Suivez également l'un de nos clients à Marrakech !</p></div>
                <div class="col-sm-2 col-xs-2 text-center">
                    <div class="text-center">
                        <img src="{{assetCdn}}/assets/img-presse/m6.jpg" alt="M6" class="img-responsive" />
                    </div>
                </div>
                <div class="col-sm-5 col-xs-12">
                    <div>
                        <iframe src="//player.vimeo.com/video/224930992" width="100%" height="200" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="content page item-presse" id="fr2-cest-au-programme">
            <h2 class="title-h2-page-quality">France 2 : C'est au programme : Choisissez le prix de vos loisirs</h2>
            <div class="row">
                <div class="col-sm-5 col-xs-10"><p>Pour beaucoup d'entre vous, les vacances se terminent mais vous avez encore envie de profiter de certains loisirs sans trop dépenser.</p></div>
                <div class="col-sm-2 col-xs-2 text-center">
                    <div class="text-center">
                        <img src="{{assetCdn}}/assets/img-presse/c-est-au-programme.jpg" alt="C'est au programme" />
                    </div>
                </div>
                <div class="col-sm-5 col-xs-12">
                    <div>
                        <iframe width="100%" height="260" src="//embedftv-a.akamaihd.net/69579cd9527f24e3c196cc34c402ba87" scrolling="no" allowfullscreen frameborder="0"></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="content page item-presse" id="itele">
            <h2 class="title-h2-page-quality">ITélé : Partir en vacances grâce à une enchère</h2>
            <div class="row">
                <div class="col-sm-5 col-xs-10"><p>Créé il y a deux ans, le site Loisirs Enchères propose plus de 350 offres en France et à l'étranger. Vacances, sport, gastronomie, spectacles... L'internaute peut profiter d'une offre à un prix réduit par rapport au marché, grâce à une enchère avec les autres internautes. Et le dernier à enchérir rafle la mise.</p></div>
                <div class="col-sm-2 col-xs-2 text-center">
                    <div class="text-center">
                        <img src="{{assetCdn}}/assets/img-presse/iTELE-2008.png" alt="ITELE" />
                    </div>
                </div>
                <div class="col-sm-5 col-xs-12">
                    <div>
                        <iframe width="100%" height="260" src="//www.dailymotion.com/embed/video/x4q35po" scrolling="no" allowfullscreen frameborder="0"></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="content page item-presse" id="tf1-vacances-aux-encheres">
            <h2 class="title-h2-page-quality">TF1 : Vacances aux enchères : Adjugé, vendu !</h2>
            <div class="row">
                <div class="col-sm-5 col-xs-10">"Imaginez-vous partir en vacances en famille pour à peine plus de 150€ et bien c'est désormais possible. Comment ? Grâce aux ventes aux enchères sur internet. Ce système de vacances est plébiscité par nos voisins espagnols et hollandais ; en France, 100 000 personnes ont déjà essayé et chacun y trouve son compte aussi bien les clients que les hôteliers."<br />
                    Pour faire des économies, certains n’hésitent pas à acheter leurs vacances aux enchères. À Bordeaux, une jeune start-up met près de 200 offres de vacances en ligne, le tout sans commissaire-priseur. Des bons plans pour les consommateurs mais aussi pour les hôteliers. La vente des vacances aux enchères permet également de diversifier la clientèle.
                </div>

                <div class="col-sm-2 col-xs-2 text-center">
                    <div class="text-center">
                        <img src="{{assetCdn}}/assets/img-presse/tf1.png" alt="TF1" />
                    </div>
                </div>
                <div class="col-sm-5 col-xs-12">
                    <div>
                        <iframe width="100%" height="260" src="//www.wat.tv/embedframe/141655chuPP3r13234599" scrolling="no" allowfullscreen frameborder="0"></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="content page item-presse" id="fr2-bon-plan-ete">
            <h2 class="title-h2-page-quality">France 2 : Bon plan de l'été : les vacances aux enchères. - Juillet 2016</h2>
            <div class="row">
                <div class="col-sm-5 col-xs-10"><p>L'enquête de ce samedi 9 juillet vous aide à partir en vacances à petit prix. On peut réserver son séjour ou sa location à moitié prix grâce aux ventes aux enchères de vacances
                    Du soleil, des déjeuners en terrasse et des bungalows en plaine nature, [...] moitié moins cher que les tarifs normaux. Un séjour à moitié prix acheté aux enchères sur internet sur ce site. [...]
                    Près de 150 000 personnes utilisent régulièrement le site internet. Et pour attirer toujours plus, il faut trouver de nouvelles offres. À Versailles, Mathieu, commercial [...] se rend dans un hôtel qui vient de proposer quelques chambres aux enchères. L’objectif premier pour la directrice : attirer une nouvelle clientèle dans son établissement. Le but étant de fidéliser le client.</p>
                </div>
                <div class="col-sm-2 col-xs-2 text-center">
                    <div class="text-center">
                        <img src="{{assetCdn}}/assets/img-presse/Logo_France_2.png" alt="France 2" />
                    </div>
                </div>
                <div class="col-sm-5 col-xs-12">
                    <div>
                        <iframe width="100%" height="260" src="//embedftv-a.akamaihd.net/e8206cbfe3c9e8df4d06c72c9d62113f" frameborder="0" scrolling="no" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="content page item-presse" id="m6-vacances-bons-plans">
            <h2 class="title-h2-page-quality">M6 : Vacances, est-il possible de trouver des bons plans ? - Juillet 2016</h2>
            <div class="row">
                <div class="col-sm-5 col-xs-10">
                    Tandis que beaucoup de français disent pouvoir dépasser leur budget pour les grandes vacances de l'année 2016, M6 mène l'enquête sur les bons plans de l'été, rendez-vous à 17:02 pour Loisirs Enchères !
                    <br /><br />
                </div>
                <div class="col-sm-2 col-xs-2 text-center">
                    <img src="{{assetCdn}}/assets/img-presse/m6.jpg" alt="M6" />
                </div>
                <div class="col-sm-5 col-xs-12">
                    <a href="//www.6play.fr/le-1245-p_1056/12-45-du-lundi-11-juillet-c_11589504" target="_blank" rel="nofollow">
                        <img src="{{assetCdn}}/assets/img-presse/m6-1245-extrait.PNG" alt="Extrait vidéo" />
                    </a>
                </div>
            </div>
        </div>
        <div class="content page item-presse" id="bfm-final-academie">
            <h2 class="title-h2-page-quality">BFM Business : Finaliste de la BFM Académie - Juin 2016</h2>
            <div class="row">
                <div class="col-sm-3 col-xs-10">
                    Loisirs Enchères a terminé 2<sup>ème</sup> sur 500 à la BFM Académie, découvrez pourquoi dans cette vidéo ! Les trois finalistes ont répondu à toutes les questions des membres du jury depuis le studio Gabriel à Paris, sur BFM Business.
                    <br /><br />
                </div>

                <div class="col-sm-3 col-xs-2 text-center">
                    <div class="text-center">
                        <img src="{{assetCdn}}/assets/img-presse/BFM_Business_logo_2010.png" alt="BFM Business" />
                    </div>
                </div>
                <div class="col-sm-5 col-xs-12 col-sm-offset-1">
                    <iframe width="100%" height="260" class="video" src="//players.brightcove.net/876450612001/default_default/index.html?videoId=4963994966001" allowfullscreen webkitallowfullscreen mozallowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="content page item-presse">
            <h2 class="title-h2-page-quality">La Tribune Bordeaux : Loisirs Enchères élue startup de l'année 2015</h2>
            <div class="row">
                <div class="col-sm-6">
                    Thomas Boisserie préside une startup attachée à ses valeurs [...] et qui bouleverse les équilibres historiques de fixation des prix des produits touristiques et culturels.
                    Le fait d'avoir décroché en fin d'année le statut d'agent de voyage lui ouvre de nouveaux horizons.
                    <br /><br />
                </div>
                <div class="col-sm-6 text-center">
                    <img src="{{assetCdn}}/assets/img-presse/Site-responsive-startup-biznext.jpg" alt="Biznext" />
                </div>
            </div>
        </div>
        <div class="content page item-presse">
            <h2 class="title-h2-page-quality">France 2 : Loisirs Enchères expliqué par Télématin</h2>
            <div class="row">
                <div class="col-sm-5 col-xs-10">
                    "Alors comme son nom l'indique vous allez pouvoir acheter aux enchères des loisirs, donc des nuits d'hôtels, des spectacles, des tickets théâtre, des croisières en bateau, des scéances de spa, des week-ends...
                    [...] C'est à vous après d'enchérir.<br />
                    Je précise aussi qu'enchérir est gratuit sur ce site ce qui est quand même très rare. C'est un concept très novateur, unique en France qui fait déjà ses preuves à l'étranger [...] et vraiement ça vaut le coût."
                </div>
                <div class="col-sm-2 col-xs-2 text-center">
                    <img src="{{assetCdn}}/assets/img-presse/Logo_France_2.png" alt="France 2" />
                </div>
                <div class="col-sm-5 col-xs-12">
                    <iframe width="100%" height="197" src="//www.youtube.com/embed/r7xI7XB9H-o" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>

        <div class="content page item-presse">
            <h2 class="title-h2-page-quality">France 2 : Le Meilleur Job de France</h2>
            <div class="row">
                <div class="col-sm-5 col-xs-10">
                    "C'est une startup Bordelaise qui propose un CDD de 4 mois pour tester toute les offres sur son site. Cela s'appelle Loisirs Enchères, on en a déjà parlé et c'est un très très très bon site qui va proposer tout les jours les meilleurs offres de loisirs
                    , on a autant de l'hébergement que de la gastronomie que du bien être ou du divertissement. En gros ça va du saut en parachute au séjour en passant par les massages
                    et les balades en catamarans. Le job consiste à tester toute ces offres. Imaginez vous retrouver à faire du saut à l'élastique, de la plongée ou encore des massages [...] payé 2000€ par mois pendant 4 mois. [...]"
                </div>
                <div class="col-sm-2 col-xs-2 text-center">
                    <img src="{{assetCdn}}/assets/img-presse/Logo_France_2.png" alt="France 2" />
                </div>
                <div class="col-sm-5 col-xs-12">
                    <iframe width="100%" height="197" src="//www.youtube.com/embed/mCLwYn_zLZQ" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>

        <div class="content page item-presse">
            <h2 class="title-h2-page-quality">France 3 : La start-up "LoisirsEnchères.com" primée à Paris</h2>
            <div class="row">
                <div class="col-sm-5 col-xs-10">
                    <p>A peine créée l'entreprise est déjà primée.
                    Lancé en juillet 2014, Loisirs enchères est unique en France dans le secteur du e-commerce. Nuits dans des hôtels de charme, séances de spa, entrées de théâtre et autres sont proposés aux enchères : la mise de départ est de 1 €, enchérir est totalement gratuit.
                    Le site propose une cinquantaine d'enchères par jour.</p>
                    <a target="_blank" class="btn btn-default btn-sm pull-right clearfix" rel="nofollow" href="//france3-regions.francetvinfo.fr/aquitaine/2014/11/27/la-start-bordelaise-loisirsencherescom-primee-paris-601636.html">Lire la suite</a>
                    <div class="clearfix"></div>
                </div>
                <div class="col-sm-2 col-xs-2 text-center">
                    <img src="{{assetCdn}}/assets/img-presse/Logo_France_3.png" alt="France 3" />
                </div>
                <div class="col-sm-5 col-xs-12">
                    <iframe width="100%" height="197" src="//www.youtube.com/embed/JY69mDo_3EI" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>

        <div class="content page item-presse">
            <h2 class="title-h2-page-quality">L'express : le plus offrant est le gagnant</h2>
            <div class="row">
                <div class="col-sm-6">
                    "Nuits d'hôtels, places de théâtre... Le site de e-commerce met aux enchères des produits de loisirs et de culture avec une mise à prix de seulement 1 euro.<br />
                    Pour les internautes, c'est un peu comme un jeu. C'est beaucoup plus ludique que d'acheter un produit en solde ou d'obtenir un coupon de réduction.
                    ils se sentent en compétition. Quand ils obtiennent l'objet sur lequel ils ont misé c'est vraiment une victoire pour eux",
                    <br />
                    <a target="_blank" class="btn btn-default btn-sm pull-right" rel="nofollow" href="//lentreprise.lexpress.fr/creation-entreprise/idees-business/loisirsencheres-com-le-plus-offrant-est-le-gagnant_1617216.html">Lire la suite</a>
                    <div class="clearfix"></div>
                </div>
                <div class="col-sm-6 text-center">
                    <img src="{{assetCdn}}/assets/img-presse/l-express.png" alt="L'express" />
                </div>
            </div>
        </div>

        <div class="content page item-presse">
            <h2 class="title-h2-page-quality">Sud Ouest : Loisirs Enchères vous laisse fixer le prix de vos vacances</h2>
            <div class="row">
                <div class="col-sm-6">
                    "Le concept est assez nouveau en France. Sur la page d'accueil, l'internaute est invité à faire monter les enchères pour des places de concert,
                    des croisières pour deux sur la Garonne, des cours de cuisine, des nuits dans des hôtels de grandes villes françaises,
                    dans une cabane en Dordogne ou un igloo à Gourette pour la Saint Sylvestre."
                    <br />
                    <a target="_blank" class="btn btn-default btn-sm pull-right" rel="nofollow" href="//www.sudouest.fr/2014/11/04/loisirs-encheres-vous-laisse-fixer-le-prix-de-vos-vacances-1725056-2780.php">Lire la suite</a>
                    <div class="clearfix"></div>
                </div>
                <div class="col-sm-6 text-center">
                    <img src="{{assetCdn}}/assets/img-presse/sud-ouest.png" alt="Sud Ouest" />
                </div>
            </div>
        </div>

        <div class="content page item-presse">
            <h2 class="title-h2-page-quality">20 Minutes : Un nouveau site met aux enchères les loisirs et sorties culturelles</h2>
            <div class="row">
                <div class="col-sm-6">
                    "Une cinquantaine de nouveaux produits sont mis en ligne chaque jour. Et la motivation des internautes n’est pas toujours d’obtenir une prestation à bas prix."<br />
                    «Nous voulons sortir de l’environnement du rabais constant en suggérant des sorties ou des week-ends originaux, que vous ne trouverez pas sur d’autres sites.»
                    <br />
                    <a target="_blank" class="btn btn-default btn-sm pull-right" rel="nofollow" href="//www.20minutes.fr/bordeaux/1469611-20141028-bordeaux-nouveau-site-met-encheres-loisirs-sorties-culturelles">Lire la suite</a>
                    <div class="clearfix"></div>
                </div>
                <div class="col-sm-6 text-center">
                    <img src="{{assetCdn}}/assets/img-presse/20minutes.png" alt="20 Minutes" />
                </div>
            </div>
        </div>

        <div class="content page item-presse">
            <h2 class="title-h2-page-quality">RTL2 : Voici un nouveau site d'enchère innovant</h2>
            <div class="row">
                <div class="col-sm-6">
                    "Concept unique en France, loisirsencheres.com est un jeune site bordelais qui propose des enchères pas comme les autres.
                    Ici, pas d'objets mais des idées de sorties culturelles, sportives ou encore des week-ends.<br />
                    Vous pouvez notamment enchérir pour des week-end entiers à Bordeaux, au ski, en Bretagne ou encore pour découvrir le Lille historique au travers de la bière."
                    <br />
                    <a target="_blank" class="btn btn-default btn-sm pull-right" rel="nofollow" href="//www.rtl2.fr/actu/regions/info-rtl2-21-11-14-7775473599">Lire et écouter la suite</a>
                    <div class="clearfix"></div>
                </div>
                <div class="col-sm-6 text-center">
                    <img src="{{assetCdn}}/assets/img-presse/RTL2.png" alt="RTL2" />
                </div>
            </div>
        </div>

        <div class="content page item-presse">
            <h2 class="title-h2-page-quality">France bleu : A vous de fixer le prix de vos loisirs !</h2>
            <div class="row">
                <div class="col-sm-6">
                    "Hôtels, séjours au ski ou au soleil, croisières, restaurants, détente ou spectacles, à vous de surveiller les meilleurs plans et de savoir surenchérir au bon moment pour remporter la mise !<br />
                    Retrouvez Thomas Boisserie, ce soir, dans « Place des Grands Hommes » avec Nicolas Fauveau. Rendez-vous à partir de 18H05 !"
                    <br />
                    <a target="_blank" class="btn btn-default btn-sm pull-right" rel="nofollow" href="//www.francebleu.fr/societe/place-des-grands-hommes/vous-de-fixer-le-prix-de-vos-loisirs">Lire et écouter la suite</a>
                    <div class="clearfix"></div>
                </div>
                <div class="col-sm-6 text-center">
                    <img src="{{assetCdn}}/assets/img-presse/france-blue.png" alt="France_Bleu" />
                </div>
            </div>
        </div>

        <div class="content page item-presse">
            <h2 class="title-h2-page-quality">CCI Paris : Gagnant de la Palme du e-commerce 2014 - Catégorie tourisme</h2>
            <div class="row">
                <div class="col-sm-6">
                    "Loisirs Enchères propose à ses utilisateurs des produits et des services de loisirs aux enchères dès 1€ quel que soit son prix public.
                    <br />
                    Ce concept permet aux utilisateurs d’accéder à des bons plans vacances ou détentes tout en expérimentant l’adrénaline et la chance du jeu."
                </div>
                <div class="col-sm-6 text-center">
                    <img src="{{assetCdn}}/assets/img-presse/ccipp.jpg" alt="CCI Paris" />
                </div>
            </div>
        </div>
    </div><br /><br />
    <h2 class="h4 text-center">Vous êtes un professionnel du tourisme ou des loisirs ? Rendez vous sur la <a href="https://pro.loisirsencheres.com/" target="_blank">plateforme de Loisirs Enchères</a>.<h2><br />
{% endblock %}

